<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.puffpiratestudios">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PuffPirateApp">
        <activity android:name=".SetTouDetailsActivity"></activity>
        <activity
            android:name=".SetHolidaysActivity"
            android:label="@string/title_activity_set_holidays"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.PuffPirateApp.NoActionBar" />
        <activity
            android:name=".SetTOUZonesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetSeasonDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetTierRangesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetUtilityRatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetTaxRatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetDeliveryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetRegulatoryChargesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetFixedChargesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>